* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    padding: 30px;
    border: 1px solid #666666;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-grow: 1;
}

.board {
    width: calc(100% - 270px);
    border: 1px solid #666666;
    background-color: #d7d89d;
    position: relative;
    overflow: hidden;
}

.toolbar {
    width: 270px;
    border: 1px solid #666666;
}

.body-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: visible;
    margin-top: 40px;
    min-height: calc(100vh - 80px);
}


.checkbox-container .checkbox {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #666666;
    border-radius: 3px;
    background-color: #fff;
}

.component {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
}

.component.active .checkbox {
    /*border-color: #007bff !important;*/
}

.component-resize-controls {
    border: 1px solid #4291e4;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    position: absolute;
    left: -5px;
    top: -5px;
    display: none;
}


.component-resize-controls .resize-control {
    width: 8px;
    height: 8px;
    border: 1px solid #4291e4;
    background-color: #fff;
    position: absolute;
}

.component-resize-controls .resize-top-left {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    cursor: nw-resize;
}

.component-resize-controls .resize-top {
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    cursor: n-resize;
}

.component-resize-controls .resize-top-right {
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    cursor: ne-resize;
}

.component-resize-controls .resize-right {
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    cursor: w-resize;
}

.component-resize-controls .resize-bottom-right {
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
    cursor: nw-resize;
}

.component-resize-controls .resize-bottom {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    cursor: n-resize;
}

.component-resize-controls .resize-bottom-left {
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
    cursor: ne-resize;
}

.component-resize-controls .resize-left {
    left: 0;
    bottom: 50%;
    transform: translate(-50%, 50%);
    cursor: w-resize;
}


.component.active .component-resize-controls {
    display: block;
}

.toolbar {
    padding: 10px;
}

.toolbar .tools {
    display: none;
}
